@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", serif;
}
html,
body {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(155, 138, 138);
}
.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
  background-color: #fff;
}
.container nav ul {
  display: flex;
}
.container nav ul li {
  margin-inline: 16px;
}
.container nav ul li a {
  font-size: 18px;
  color: rgb(189, 164, 164);
  font-weight: 400;
}
.container nav ul li a.active {
  color: rgb(133, 230, 133);
  font-weight: bold;
}

/* hero section  */

.hero-section {
  width: 100%;
  height: 450px;
  background: url("/business2_3.jpg");
  background-position: center;
  background-size: cover;
  opacity: 1;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-text h1,
p {
  padding: 10px 0;
  /* text-transform: capitalize; */
  text-align: justify;
}
.hero-text h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
.hero-text p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.hero-btn {
  text-align: center;
  margin-top: 20px;
}
.hero-btn1 {
  padding: 12px;
  border: none;
  outline: none;
  font-size: 10px;
  background-color: rgb(110, 205, 110);
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 20px;
}
.hero-btn2 {
  padding: 12px;

  outline: none;
  font-size: 12px;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 20px;
}
.hero-colum {
  margin: 60px auto;
  /* padding: 40px ; */
}
.hero-colum h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  color: rgb(120, 126, 132);
}
.hero-colum p {
  text-align: center;
  padding: 25px 0;
  color: rgb(142, 156, 170);
  font-size: 16px;
}
.boxe-container {
  display: flex;
  justify-content: space-evenly;

  padding: 30px auto;
  margin: 0 auto;
}
.box-1 {
  width: 330px;
  height: 350px;
  background-color: rgb(243, 245, 247);
  text-align: center;
  padding: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.box-1 .icon {
  height: 70px;
  width: 70px;
  background-color: rgb(88, 100, 111);
  border-radius: 100%;
  padding: 16px;
  color: #fff;
  margin: 30px auto;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-1 h1 {
  color: rgb(120, 126, 132);
  font-weight: 400;
}
.box-1 p {
  color: rgb(124, 130, 135);
  padding: 14px;
}
.box-1 button {
  padding: 10px 12px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: rgb(182, 200, 218);
  outline: none;
}

/* colored div */

.color-box {
  width: 100%;
  margin-top: 40px;
  display: flex;
}

.color-box .color-box1 {
  background-color: rgb(156, 222, 58);
  padding: 20px;
}

.color-box1 h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: white;
}
.color-box1 p {
  text-align: justify;
  color: #fff;
  font-size: 18px;
}
#color-box2 {
  background-color: rgb(79, 194, 115);
}
#color-box3 {
  background-color: rgb(24, 176, 72);
}

/* man imges and text section */
.section-c1 {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}
.section-c1 h1 {
  color: rgb(152, 157, 162);
  font-weight: 400;
  font-size: 40px;
  margin: 20px 0;
}
.section-c1 p {
  color: rgb(188, 197, 207);
  font-weight: 400;
  font-size: 16px;
}
.section-c1-text ul li {
  display: flex;
  align-items: center;
  margin: 20px;
  color: rgb(188, 197, 207);
}

.section-c1-text ul i {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 25px;
  background-color: rgb(95, 155, 95);
  color: #fff;
  border-radius: 100%;
  margin-right: 12px;
}
.section-c1-text {
  margin: 0 20px;
}
.section-c1 img {
  width: 500px;
}
/* green div */
.green-div {
  width: 100%;
  height: 10rem;
  background-color: rgb(56, 176, 56);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.green-div .green-btn button {
  height: 60px;
  width: 180px;
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
}
.green-text h1 {
  font-weight: 300;
  font-size: 40px;
  color: #fff;
}
.green-text p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
/* seciton  */

.section {
  width: 100%;
  height: 500px;
  background-image: url("business_7.jpg");
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sec-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.sec-text h1 {
  color: #fff;
  margin-top: 70px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 50px;
}
.sec-text h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 40px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 40px;
}
.sec-text p {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  padding: 20px 0;
}
.sec-text .p2 {
  color: rgb(91, 95, 101);
}

/* card container */

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
}
.card-container .card {
  width: 350px;
  background-color: rgb(243, 244, 246);
  border-radius: 5px;
  overflow: hidden;
}
.card-container .card img {
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-container .card h1 {
  color: rgb(98, 109, 120);
  font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
  padding: 8px 20px;
}
.card-container .card p {
  color: rgb(181, 193, 203);
  font-weight: 400;
  line-height: 20px;
  padding: 8px 20px;
  /* margin-top: 10px; */
}
.card-container .card button {
  color: rgb(98, 109, 120);
  /* margin-top: 10px; */
  padding: 10px 20px;
  background-color: transparent;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 20px;
}

/* footer-sec */

.footer-sec {
  width: 100%;
  height: 200px;
  background-color: rgb(62, 56, 56);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}
.footer-sec .footer-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.footer-sec .footer-detail h1 {
  color: #fff;
  font-weight: 400;
}
.footer-detail ul li {
  color: #a9a5a5;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 90px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.footer .social-icons i {
  font-size: 25px;
  margin-inline: 20px;
  font-weight: 400;
}
